body {
	color: white;
	padding-top: 110px;
}
.option-box {
	display: flex;
	margin-bottom: 20px;
	width: 100%;
	border-radius: 8px;
	background: rgb(82, 82, 138);
	font-size: 50px;
	min-width: 1200px;
}
.option-box:hover {
	cursor: pointer;
	transform: scale(1.01);
}
.option-text {
	color: white;
	width: 100%;
}
.correct {
	font-size: 35px;
    background: rgb(40, 134, 40);
}
.incorrect {
    font-size: 35px;
	background: rgb(139, 21, 21);
}
#hud {
	display: flex;
	justify-content: space-between;
}

.progressText {
    font-size: 20px;
}

.hud-prefix{
    font-size: 20px;
}

#timerCountdown{
    font-size: 20px;
}

#timer{
    font-size: 20px;
}

#correctIncorrect{
    font-size: 35px;
}